{% load bootstrap4 %}


<div class="card mb-3 style="max-width: 540px;">
  {% with followers=person.followers.all followings=person.followings.all %}
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if person.image %}
      <img src="{{ person.image.url }}" alt="{{ person.image }}">
    {% endif %}
    </div>
    <div class="col-md-8 align-middle">
      <div class="card-body">
        <br>
        <h5 class="card-title">{{ person.username }}</h5>
        <p class="card-text" id='follow-info'>팔로워 수 : {{ followers|length }} / 팔로잉 수 : {{ followings|length }}</p>
        {% if request.user != person %}
        <form id='follow-form' data-person-id='{{person.pk}}'>
          {% csrf_token %}
          {% if request.user in followers %}
            <button class="btn btn-secondary" id='follow'>Unfollow</button>
          {% else %}
            <button class="btn btn-primary" id='follow'>Follow</button>
          {% endif %}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  {% endwith %}
</div>
