{% extends 'base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">{{first.0}}</th>
      <th scope="col">{{first.1}}</th>
      <th scope="col">{{first.1}}</th>
      <th scope="col">{{first.3}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{second.0}}</td>
      <td>{{second.1}}</td>
      <td>{{second.2}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{third.0}}</td>
      <td>{{third.1}}</td>
      <td>{{third.2}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{fourth.0}}</td>
      <td>{{fourth.1}}</td>
      <td>{{fourth.2}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>{{fifth.0}}</td>
      <td>{{fifth.1}}</td>
      <td>{{fifth.2}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>{{sixth.0}}</td>
      <td>{{sixth.1}}</td>
      <td>{{sixth.2}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>{{seventh.0}}</td>
      <td>{{seventh.1}}</td>
      <td>{{seventh.2}}</td>
    </tr>
  </tbody>
</table>

{% endblock content %}