{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <h1 class="text-center">디테일 페이지</h1>
  <a href=" {% url 'articles:index' %} ">목록으로 가기</a>
  <p>글 번호: {{article.pk}}</p>
  <p>글 제목: {{article.title}}</p>
  <p>글 내용: {{article.content}}</p>
  <p>작성 시간: {{article.created_at|naturalday}}</p>
  <p>수정 시간: {{article.updated_at|naturaltime}}</p>
  <a href="{% url 'articles:update' article.pk %}">수정하기</a>
  <form action="{% url 'articles:delete' article.pk %}" method='POST'>
    <input type="submit" class="btn-danger" value="삭제하기">
    {% csrf_token %}
  </form>

{% endblock content %}
