{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h2 class="text-center">Review</h2>
      <div class="card mb-3 style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if review.image %}
              <img src="{{ review.image.url }}" alt="{{ review.image }}">
            {% endif %}
          </div>
          <div class="col-md-8 align-middle">
            <div class="card-body">
              <br>
              <h4 class="card-title"><b>{{ review.title }}</b></h4>
              <br>
              <p class="card-text"><b>영화 : {{ review.movie_title }}</b></p>
              <p class="card-text">내용 : {{ review.content }}</p>
              <p class="card-text">평점 : {{ review.rank }}</p>
              <p class="card-text">작성 시각 : {{ review.created_at }}</p>
            </div>
          </div>
        </div>
      </div>
  <hr>
  <form class="d-inline like-form" data-review-id='{{review.pk}}'>
    {% csrf_token %}
    {% if request.user in review.like_users.all %}
      <button class="btn btn-link" style="color: crimson;">
        <i id="like-{{review.pk}}" class="fas fa-heart"></i>
      </button>
    {% else %}
      <button class="btn btn-link" style="color: black;">
        <i id="like-{{review.pk}}" class="fas fa-heart"></i>
      </button>
    {% endif %}
  </form>
  <p>
    <span id="like-count-{{review.pk}}">
      {{ review.like_users.all|length }} 명이 이 글을 좋아합니다.
    </span>
  </p>  
  <br>
  <a href="{% url 'community:review_list' %}" class='btn btn-primary'>back</a>
  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
    <p>{{ comments|length }} 개의 댓글이 있습니다.</p>
  {% endif %}
  {% for comment in comments %}
    <li>
      <b>{{ comment.user }}</b> - {{ comment.content }}
    </li>
  {% empty %}
    <p>0 comments</p>
  {% endfor %}
  <hr>
  <h4>댓글 작성</h4>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comments_create' review.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <button class='btn btn-primary'>제출</button>
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인 하세요.]</a>
  {% endif %}
{% endblock  %}

{% block script %}
  <script>
    const form = document.querySelector('.like-form')
    const csrftoken = document.querySelector('input[name=csrfmiddlewaretoken]').value
    form.addEventListener('submit',(event)=>{
      event.preventDefault()
      const reviewId = form.dataset.reviewId        
      axios.post(`/community/${reviewId}/like_detail/`,{},{
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
      .then((res)=>{
        if (res.data.error === 'unauthorized'){
          window.location.href = '/accounts/login/'
          return
        }
        const count = res.data.count
        const liked = res.data.liked
        const likeIconColor = document.querySelector(`#like-${reviewId}`)
        const likeCount = document.querySelector(`#like-count-${reviewId}`)
        likeCount.innerText = `${count} 명이 이 글을 좋아합니다.`
        if (liked){
          likeIconColor.style.color = 'crimson'
        }
        else{
          likeIconColor.style.color = 'black'
        }
      })
    })
  </script>
{% endblock script %}