<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>DTL for, if tag 연습</h1>

  <h2>1. for tag</h2>
  {% for menu in menus %}
    <li>{{ menu }}</li>
  {% endfor %}
  <hr>
  {% for menu in menus %}
    {{ forloop.counter }} : {{ menu }}
  {% endfor %}
  <hr>

  {% for x in empty_list %}
    {{ x }}
  {% empty %}
    비어있음
  {% endfor %}


  <hr>
  <h2>2. if tag</h2>
  {% if '짜장면' in menus %}
    <p>짜장면은 고춧가루지</p>

  {% endif %}
  <hr>
  {% if empty_list|length > 10 %}
    <p>길이가 10보다 크네요.</p>
  {% else %}
    <p>길이가 10보다 작네요.</p>
  {% endif %}

</body>
</html>